.table-custom tr td{
    padding: 10px 10px 10px 0px;
    margin: 0px 5px;
}

.lightbox {
    margin-top: -550px;
    background-color:whitesmoke;
    width: 40%;
    display: none;
    border: none;
}

.close-project{
    cursor:pointer;
    border:1px solid #444;
    width:25px;
    height:25px;
    line-height:24px;
    border-radius:20px;
    text-align:center;
    position:absolute;
    right:-8px;
    top:-28px;
    background:rgb(2, 2, 2);
    color:#fff;
  }

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#accordion .card{
    margin: 50px;
    background-color: white;
    border: none;
}

#workExperience hr{
    border: 1px solid grey;
}

.skills-cards ul li{
    font-weight: 500;
    margin-left: -35px;
}

.skills-cards hr {
    border: 1px solid;
}
